
.contador{
  line-height: 25px;
  padding: 50px;
}


.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: black;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-color: dodgerBlue;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: black;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: dodgerBlue;
}
div {
  text-align: center;
}
.minus:hover{
  background-color: #717fe0 !important;
}
.plus:hover{
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.counter{  
  width: 20px;
  height: 20px;
  font-size: large;
  padding: 15px;
  font-size: 45px;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:rgba(255, 255, 255, 0.616);
}
  